body
{
 background-color: #303030;
 color: #ffffff;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 20px;
}

#container
{
	width: auto;
	/*margin-left: center;*/
}

.rectangle
{
	/*width:  480px;*/
	width:  100%;
	/*margin: 10px;*/
}

.square
{
	width: 50%;
	float: left;
}

#logo 
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:40px;
	width:100%;
	
}
#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size:40px;
	
}
.tile1
{
	margin: 10px;
	width: 100%;
	height: 142px;
	background-color: #3095d3;
	float: left;
}
.tile5
{
	margin: 10px;
	width: 100%;
	height: 304px;
	background-color: #666666;
	
}
.tile2
{
	/*margin: 10px;*/
	/*width: 480px;*/
    margin: 20px;
	width: 100%;
	height: 304px;
	background-color: #666666;
	float: left;
	text-align: center;
}
.map {
		margin: 10px;
        width: 100%;
		/*height: 304px;*/
        }
.clic {
	margin-left: 40px;
	margin-top: 50px;
	
}

